.AppBar {
  background-color: #0168ab;
  background-image: url('./appBar.background.png');
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  margin-bottom: 10px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.AppBar-logo {
  height: 40px;
}

.AppBar a {
  line-height: 1.5;
  border: 2px solid transparent;
  cursor: pointer;
}

.AppBar a:hover {
  border-bottom-color: white;
}

.AppBar hr {
  visibility: hidden;
  min-width: 1rem;
}

.AppBar .grow {
  flex-grow: 1;
}
